extends _layout

block content
    div(style="float: right;")
        a(href='https://github.com/angular/react-native-renderer/blob/master/doc/pages/bootstrap.jade') Edit this page on Github

    :marked
        # bootstrap
        To bootstrap an application, you must use the special method `bootstrapReactNative`.

        ```
        import {bootstrapReactNative} from 'angular2-react-native';
        import {MyAppModule} from "./app/module";

        bootstrapReactNative('myApp', MyAppModule);
        ```

        The main module must import `ReactNativeAndroidModule` or `ReactNativeiOSModule` depending on the platform targetted:
         ```
         @NgModule({
           declarations: [...],
           imports: [ReactNativeAndroidModule, CommonModule],
           bootstrap: [...]
         })
         export class MyAppModule {}

         ```

        In order to use the [Http](./http.html) and [Router](./router.html) features, extra modules need to be imported in the main module.
