extends _layout

block content
    div(style="float: right;")
        a(href='https://github.com/angular/react-native-renderer/blob/master/doc/pages/bootstrap.jade') Edit this page on Github

    :marked
        # bootstrap
        To bootstrap an application, you must use the special method `bootstrapReactNative`.

        ```
        import {bootstrapReactNative}
            from 'angular2-react-native';
        import {Example} from "./example";

        bootstrapReactNative('example', Example, [/* extra providers */]);
        ```

        In order to use the [Http](./http.html) and [Router](./router.html) modules, extra providers are needed. They can be passed during the bootstrap:
        ```
        import {bootstrapReactNative, HTTP_PROVIDERS, ROUTER_PROVIDERS}
            from 'react-angular2-react-native';
        import {Example} from "./example";

        bootstrapReactNative('example', Example, [HTTP_PROVIDERS, ROUTER_PROVIDERS]);
        ```
