extends _layout

block content
    .title(style="width:900px;height:300px;")
        img(src="./assets/angular.png")
        h1 +
        img(src="./assets/react.png", style="width:200px")
        h1
            | =>
        img(src="./assets/phone.png", style="top:0px")
    h3(style="margin-bottom:50px;") Angular 2 and React Native to build applications for Android and iOS
    a(href="./getting_started.html", style="padding: 20px;background-color:#0273D4;color:white;display: block;width: 150px;border-radius: 10px;text-align: center; font-size: 20px;margin: auto;") Get started

