extends _layout

block content
    div(style="float: right;")
        a(href='https://github.com/angular/react-native-renderer/blob/master/doc/pages/opacity_feedback.jade') Edit this page on Github

    h1 Opacity feedback
    span To be written