extends _layout

block content
    div(style="float: right;")
        a(href='https://github.com/mlaval/poc-angular-react-native/blob/master/doc/pages/ripple_feedback.jade') Edit this page on Github

    h1 Ripple feedback
    span To be written