extends _layout

block content
    div(style="float: right;")
        a(href='https://github.com/angular/react-native-renderer/blob/master/doc/pages/ripple_feedback.jade') Edit this page on Github

    h1 Ripple feedback
    span To be written