extends _layout

block content
    div(style="float: right;")
        a(href='https://github.com/angular/react-native-renderer/blob/master/doc/pages/router.jade') Edit this page on Github

    :marked
        # Router

        The rooter module of Angular 2 can be used as is in applications.
        The only thing to be done is to bootstrap the application with the right providers (see below), and use the right directives.

        It uses a mock of `LocationStrategy`. Manipulating the location triggers a navigation of the router.

        ## bootstrap
        ```
        import {bootstrapReactNative, ROUTER_PROVIDERS}
            from 'angular2-react-native';
        import {Example} from "./example";

        bootstrapReactNative('example', Example, [ROUTER_PROVIDERS]);
        ```

        ## Directives
        - The standard `RouterOutlet` can be used.
        - A custom `RouterLink` must be used, it can respond to any gesture with the `event` property (default is `tap`).

        ## Example
        ```
        import {Component} from 'angular2/core';
        import {RouteConfig, LocationStrategy} from 'angular2/router';
        import {ROUTER_DIRECTIVES} from "angular2-react-native";

        @Component({
          selector: 'comp-a',
          directives: [ROUTER_DIRECTIVES],
          template: `<Text [routerLink]="['/CompB']" event="doubletap">Hello A</Text>`
        })
        class CompA {}

        @Component({
          selector: 'comp-b',
          template: `<Text (tap)="_goBack()"> Hello B</Text>`
        })
        class CompB {
          constructor(private _locationStrategy: LocationStrategy) {}
          _goBack() {
            this._locationStrategy.back();
          }
        }


        @RouteConfig([
          { path: '/', component: CompA, as: 'CompA' },
          { path: '/b', component: CompB, as: 'CompB' },
        ])
        @Component({
          selector: 'example',
          directives: [ROUTER_DIRECTIVES],
          template: `
        <View [style]="{margin: 50}">
          <router-outlet></router-outlet>
        </View>
          `
        })
        export class Example {}
        ```